body {
  background-color: #DBDBDC;
  font-family: Helvetica, Arial, Tahoma;
}

#container{
   position: absolute;
   top: 50%;
   margin-top: -50px;/* half of #content height*/
   left: 0;
   width: 100%;
}
#content {
   margin-left: auto;
   margin-right: auto;
   height: 100px;  
   font-size: 100px;
   color:#8E130E;
}
#backgroundRectangle {
    display: block;
    height: 0;
    width: 0;
    border-bottom: 1em solid #f00;
    border-left: 1em solid transparent; 
}
.links {
  font-size: 35px;
  list-style-type: none;
  margin: -250px 0px 0px 0px;
  opacity: 0;
  text-align:center; 
 
}
.link {
  color: #FFFFFF;
  position: relative;
  float: center;
  margin: 30 30 30 30;

   color: #5B5854;
  text-decoration: none;
}